<div id="team" class="mid-gray bg-near-white">

  <div class="w-90 center pv4 pv5-ns">

    <div class="w-70 w-40-l center tc">
      <h1 class="f-subheadline-l fw1 lh-solid mid-gray">
        Our team
      </h1>
      <h4 class="f3-ns fw1 lh-copy">
        We live what we do to share local knowledge and know-how.
      </h4>
    </div>

    <div class="w-100 pt3 pt5-l pb5-l">

      <div class="w-50 w-third-l fl pt4 pt0-l tc">
        <img src="/assets/faces/james.jpg" alt="James Muscat" class="w-30 br-100 ba b--silver pa1" />
        <h5 class="f4 mv2 fw1">James Muscat</h5>
        <p class="f6 silver">
          CEO, Australia
        </p>
      </div>

      <div class="w-50 w-third-l fl pt4 pt0-l tc">
        <img src="/assets/faces/ines.jpg" alt="Inês Azevedo" class="w-30 br-100 ba b--silver pa1" />
        <h5 class="f4 mv2 fw1">Inês Azevedo</h5>
        <p class="f6 silver">
          Global Legal Advisor, Portugal
        </p>
      </div>

      <div class="db dn-ns cf"></div>

      <div class="w-50 w-third-l fl pt4 pt0-l tc">
        <img src="/assets/faces/joana.jpg" alt="Joana Ribeiro" class="w-30 br-100 ba b--silver pa1" />
        <h5 class="f4 mv2 fw1">Joana Ribeiro</h5>
        <p class="f6 silver">
          Change Management Coach, Portugal
        </p>
      </div>

      <div class="w-50 w-third-l fl pt4 tc">
        <img src="/assets/faces/aleksandar.jpg" alt="Aleksandar Tutulic" class="w-30 br-100 ba b--silver pa1" />
        <h5 class="f4 mv2 fw1">Aleksandar Tutulic</h5>
        <p class="f6 silver">
          Branding &amp; Marketing Strategist, Serbia
        </p>
      </div>

      <div class="db dn-ns cf"></div>

      <div class="w-50 w-third-l fl pt4 tc">
        <img src="/assets/faces/jose.jpg" alt="José Calejo" class="w-30 br-100 ba b--silver pa1" />
        <h5 class="f4 mv2 fw1">José Calejo</h5>
        <p class="f6 silver">
          Global Tax Advisor, Portugal
        </p>
      </div>

      <div class="w-50 w-third-l fl pt4 tc">
        <img src="/assets/faces/ricardo.jpg" alt="Ricardo Dias" class="w-30 br-100 ba b--silver pa1" />
        <h5 class="f4 mv2 fw1">Ricardo Dias</h5>
        <p class="f6 silver">
          Real Estate Specialist, Portugal
        </p>
      </div>

      <div class="w-50 w-third-l fl pt4 tc">
        <div class="dib db-l">
          <img src="/assets/faces/barbara.jpg" alt="Bárbara Correia" class="w-30 br-100 ba b--silver pa1" />
        </div>
        <h5 class="f4 mv2 fw1">Bárbara Correia</h5>
        <p class="f6 silver">
          Global Job Hunter, Portugal
        </p>
      </div>

      <div class="w-50 w-third-l fl pt4 tc">
        <img src="/assets/faces/jungeun.jpg" alt="Jungeun Kim" class="w-30 br-100 ba b--silver pa1" />
        <h5 class="f4 mv2 fw1">Jungeun Kim</h5>
        <p class="f6 silver">
          Head of Service Design, South Korea
        </p>
      </div>

      <div class="w-50 w-third-l fl pt4 tc">
        <img src="/assets/faces/robson.jpg" alt="Robson Santos" class="w-30 br-100 ba b--silver pa1" />
        <h5 class="f4 mv2 fw1">Robson Santos</h5>
        <p class="f6 silver">
          UX Designer, Brazil
        </p>
      </div>

      <div class="dn db-l w-20-l fl pt4 tc">
        &nbsp;
      </div>

      <div class="w-50 w-30-l fl pt4 tc">
        <div class="dib db-l">
          <img src="/assets/faces/amy.jpg" alt="Amy Kraushaar" class="w-30 br-100 ba b--silver pa1" />
        </div>
        <h5 class="f4 mv2 fw1">Amy Kraushaar</h5>
        <p class="f6 silver">
          Business Developer, USA
        </p>
      </div>

      <div class="w-50 w-30-l center fl-l pt4 tc">
        <div class="dib db-l">
          <img src="/assets/faces/stas.jpg" alt="Stas Sușcov" class="w-30 br-100 ba b--silver pa1" />
        </div>
        <h5 class="f4 mv2 fw1">Stas Sușcov</h5>
        <p class="f6 silver">
          Developer, Moldova
        </p>
      </div>

      <div class="cf"></div>

    </div>


    <div class="w-100 tc pt5 pb4">
      <p class="lh-copy mb4 tracked">
        <a href="#contact" class="ph4 pv3 ttu link dim b br2 ba b--mid-gray mid-gray">
          Talk to us
        </a>
      </p>
    </div>

  </div>

</div>
