<footer class="cf">

  <div class="w-90 center pv4 mt6 bt b--near-white">

    <ul class="list pl0">
      <li class="di fr mid-gray fw6 white">
        <img src="/assets/logo-white.svg" alt="MOVIINN" class="logo" />
      </li>
      <li class="di">
        <a class="link dim mid-gray" href="https://facebook.com/moviinn">Facebook</a>
      </li>
      <li class="di pl2">
        <a class="link dim mid-gray" href="https://twitter.com/moviinn">Twitter</a>
      </li>
      <li class="di pl2">
        <a class="link dim mid-gray" href="https://www.instagram.com/moviinn/">Instagram</a>
      </li>
      <li class="di pl2">
        <a class="link dim mid-gray" href="https://www.linkedin.com/company/moviinn">Linkedin</a>
      </li>
    </ul>

  </div>

</footer>
