<div style="height: 400px;">
  </div>
<div class="db dt-ns mw9 center w-90 pv4 bt b--near-white">
  <nav class="db dtc-ns v-mid tr tl-ns ttu">
    <a class="db dib-ns mr2 mr3-m mr4-l f6 f5-ns link dim mid-gray" href="https://facebook.com/moviinn">Facebook</a>
    <a class="db dib-ns mr2 mr3-m mr4-l f6 f5-ns link dim mid-gray" href="https://twitter.com/moviinn">Twitter</a>
    <a class="db dib-ns mr2 mr3-m mr4-l f6 f5-ns link dim mid-gray" href="https://www.instagram.com/moviinn/">Instagram</a>
    <a class="db dib-ns mr2 mr3-m mr4-l f6 f5-ns link dim mid-gray" href="https://www.linkedin.com/company/moviinn">Linkedin</a>
  </nav>
  <div class="db dtc-ns v-mid tr mt3 mt0-ns mr2 mr0-ns">
    <a class="link dim mid-gray" href="{{ "/" | relative_url}}" title="{{ site.title | escape }}">
      <img src="/assets/logo-white.svg" alt="MOVIINN" class="logo" />
    </a>
  </div>
</div>
