<footer class="cf">

  <div class="w-90 center pv2 mt4 bt b--near-white">

    <ul class="list pl0">
      <li class="di fr mid-gray fw6 white">
        <img src="/assets/logo-white.svg" alt="MOVIINN" class="logo" />
      </li>
      <li class="di">
        <a class="link dim mid-gray" href="#facebook">Facebook</a>
      </li>
      <li class="di pl2">
        <a class="link dim mid-gray" href="#twitter">Twitter</a>
      </li>
      <li class="di pl2">
        <a class="link dim mid-gray" href="#instagram">Instagram</a>
      </li>
    </ul>

  </div>

</footer>
