<div class="db dt-ns mw9 center w-90 pv4 futura">
  <div class="db dtc-ns v-mid">
    <a class="link dim mid-gray" href="{{ "/" | relative_url}}" title="{{ site.title | escape }}">
      <img src="/assets/logo.svg" alt="MOVIINN" class="logo" />
    </a>
  </div>
  <nav class="db dtc-ns v-mid tr mt2 mt0-ns">
    <a class="db dib-ns mr2 mr3-l mt2 mt0-ns f6 f5-ns link dim mid-gray" href="#how">How we do it</a>
    <a class="db dib-ns mr2 mr3-l mt2 mt0-ns f6 f5-ns link dim mid-gray" href="#services">Services</a>
    <a class="db dib-ns mr2 mr3-l mt2 mt0-ns f6 f5-ns link dim mid-gray" href="#community">Community</a>
    <a class="db dib-ns mr2 mr3-l mt2 mt0-ns f6 f5-ns link dim mid-gray" href="#contact">Contact</a>
  </nav>
</div>
