<div class="db dt-ns mw9 center w-90 pv4">
  <div class="db dtc-ns v-mid tl">
    <a class="link dim mid-gray" href="{{ "/" | relative_url}}" title="{{ site.title | escape }}">
      <img src="/assets/logo.svg" alt="MOVIINN" class="logo" />
    </a>
  </div>
  <nav class="db dtc-ns v-mid tl tr-ns mt2 mt0-ns ttu">
    <a class="db dib-ns mr2 mr3-m mr4-l f6 f5-ns link dim mid-gray" href="#how">How it works</a>
    <a class="db dib-ns mr2 mr3-m mr4-l f6 f5-ns link dim mid-gray" href="#services">Services</a>
    <a class="db dib-ns mr2 mr3-m mr4-l f6 f5-ns link dim mid-gray" href="#community">Community</a>
    <a class="db dib-ns mr2 mr3-m mr4-l f6 f5-ns link dim mid-gray" href="#contact">Contact</a>
  </nav>
</div>
