<div class="w-90 center pv4 cf">
  <div class="w-100 w-30-ns fl-ns">
    <a class="link dim" href="{{ "/" | relative_url}}" title="{{ site.title | escape }}">
      <img src="/assets/logo.svg" alt="MOVIINN" class="logo" />
    </a>
  </div>
  <nav class="w-100 w-70-ns fl-ns tr mt2 mt0-ns">
    <a class="db dib-ns mr2-ns mr4-l mt2 mt0-ns f4-l link dim mid-gray" href="#how">How we do it</a>
    <a class="db dib-ns mr2-ns mr4-l mt2 mt0-ns f4-l link dim mid-gray" href="#services">Services</a>
    <a class="db dib-ns mr2-ns mr4-l mt2 mt0-ns f4-l link dim mid-gray" href="#community">Community</a>
    <a class="db dib-ns mr2-ns mr4-l mt2 mt0-ns f4-l link dim mid-gray" href="#contact">Contact</a>
  </nav>
</div>
