img.logo {
  height: 30px;
  line-height: 30px;
  margin-top: -10px;
}

#landing {
  background-size: cover;
  background-image: url('../backgrounds/nathalia-segato-172304.jpg');
  background-repeat: no-repeat;
  background-position: 0 -30px;
}

#landing .gradient {
  background: linear-gradient(30deg, #357edd 45%, rgba(0, 0, 0, 0));
}

@media screen and (min-width: 30em) {
  #landing .gradient {
    background: linear-gradient(to right, #357edd, rgba(0, 0, 0, 0) 80%);
  }
}

#community {
  background: #357edd;
}

#team {
  background: linear-gradient(to right, #EEE, rgba(0, 0, 0, 0));
}

#contact {
  background-color: #FFF;
  background-size: contain;
  background-image: url('../backgrounds/office-with-tram.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
}

#contact .gradient {
  background: linear-gradient(160deg, #FFF 80%, rgba(0, 0, 0, 0) 95%);
  min-height: 850px;
}

footer {
  margin-top: -200px;
}

@media screen and (min-width: 30em) {

  #contact .gradient {
    background: linear-gradient(110deg, #FFF 60%, rgba(0, 0, 0, 0) 85%);
    min-height: 650px;
  }

  footer {
    margin-top: -100px;
  }
}
