@import url('https://fonts.googleapis.com/css?family=Questrial');

body { font-family: Questrial, sans-serif; }

.blue-mvn { color: #42b4e7; }
.bg-blue-mvn { background-color: #42b4e7; }
.b--blue-mvn { border-color: #42b4e7; }

img.logo {
  height: 30px;
  line-height: 30px;
  margin-top: -10px;
}

#landing {
  background: url('../backgrounds/david-marcu-158231-min.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#landing h1 { text-shadow: black 1px 0 25px; }
#landing h4 { text-shadow: black 1px 0 10px; }

#community { background: linear-gradient(to right, #EEE, transparent); }

.linkedin-bg {
  background: url('../svg/linkedin.svg');
  background-position: center;
  background-repeat: no-repeat;
}

#team { background: linear-gradient(to right, #EEE, transparent); }

.office-bg {
  background-size: cover;
  background-image: url('../backgrounds/office-with-tram-min.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 250px;
}

/* -ns aka not small */
@media screen and (min-width: 30em) {
  #landing h1 { text-shadow: black 0 0 50px; }

  #contact {
    background: #fff;
    min-height: auto;
  }
}

/* -l aka large */
@media screen and (min-width:60em) {
  .how-bg {
    background: url('../svg/how.svg');
    background-position: 50% 40%;
    background-size: 30%;
    background-repeat: no-repeat;
  }

  .services-bg {
    background: url('../svg/services.svg');
    background-position: 50% 40%;
    background-size: 30%;
    background-repeat: no-repeat;
  }

  #contact {
    background-color: #FFF;
    background-size: contain;
    background-image: linear-gradient(to right, white 40%, transparent 1%), url('../backgrounds/office-with-tram-min.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 800px;
  }

  footer { margin-top: -80px; }
}
