img.logo {
  height: 30px;
  line-height: 30px;
  margin-top: -10px;
}

#landing {
  background: linear-gradient(to right, rgba(0, 36, 82, 0.5), rgba(0, 36, 82, 0.5)), url('../backgrounds/nathalia-segato-172304_small-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.how-bg {
  background: url('../svg/how.svg');
  background-position: 50% center;
  background-size: 30%;
  background-repeat: no-repeat;
}

#community {
  background: #002452 url('../svg/ii.svg');
  background-size: 10%;
  background-position: 90% 115%;
  background-repeat: no-repeat;
}

.services-bg {
  background: url('../svg/services.svg');
  background-position: 50% center;
  background-size: 30%;
  background-repeat: no-repeat;
}

#team {
  background: linear-gradient(to right, #EEE, transparent);
}

#contact {
  background-color: #FFF;
  background-size: contain;
  background-image: linear-gradient(to right, white 40%, transparent 1%), url('../backgrounds/office-with-tram-min.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 850px;
}

footer {
  margin-top: -200px;
}

@media screen and (min-width: 30em) {

  #contact {
    min-height: 800px;
  }

  footer {
    margin-top: -100px;
  }
}
